{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":26,"column":0},"end":{"row":26,"column":20},"action":"remove","lines":["pkg-resources==0.0.0"],"id":2},{"start":{"row":25,"column":13},"end":{"row":26,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":25,"column":13},"end":{"row":25,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1652171595204,"hash":"7b24be7ea4ac976123482792dab373456cbc9f04"}