{% extends "layout.html" %}



{% block content %}
<div class="col-xl-8">
          
         
        
</br>
<div class="container-fluid align-content-lg-center">    <h1>Help</h1> </div>
</br>
     
  <div class="container-fluid">
    <div class="row"> 
            <div class="card">
        <div class="card-body">
          <h4 class="card-title">Frequently Asked Question about Otaku Jisho</h4>
          <h6 class="card-subtitle mb-2 text-muted">助けて！！！！！！</h6>
          <p class="card-text">
           Question 1 - How do I join?
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor dictum nibh, sed maximus erat semper vel. Vivamus consequat venenatis est, ut imperdiet lacus convallis et. In sit amet cursus dui, id sodales nisl. Nunc congue maximus rutrum. Maecenas porttitor turpis sit amet volutpat tincidunt. Integer a felis ut nisi sagittis placerat. Morbi fringilla quam eget felis ullamcorper maximus. Aliquam et bibendum eros. Curabitur at velit vehicula, dignissim massa et, feugiat nunc. Duis blandit felis quis est mollis, quis aliquam libero sagittis. Praesent nec eros ornare, finibus lectus sit amet, fringilla leo. Aliquam erat volutpat. Integer eget odio in eros varius commodo. Aenean et nulla quis turpis dapibus mattis. In eleifend, mi quis rutrum malesuada, lacus ex facilisis leo, at gravida nulla eros in nulla. Duis purus odio, varius quis lectus ac, laoreet imperdiet risus.
          </p>
          
        </div>
      </div>

    </div>
  </div>
  </div>
    
{% endblock content %}