{% extends "layout.html" %}



{% block content %}
<div class="col-xl-8">
          
         
        
</br>
<div class="container-fluid align-content-lg-center">    <h1>About</h1> </div>
</br>
     
  <div class="container-fluid">
    <div class="row"> 
            <div class="card">
        <div class="card-body">
          <h4 class="card-title">What is Otaku Jisho</h4>
          <h6 class="card-subtitle mb-2 text-muted">In short its a Japanese learning experience for Geeks, Nerds and Techies</h6>
          <p class="card-text">
            Welcome to version 1 of the Otaku Jisho, at the moment we are still building all the extras, but with this version we can see a few lessons straight from the remembering the kanji books written by James Heisig
          
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eu sem integer vitae justo eget magna fermentum iaculis. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc consequat. Porttitor eget dolor morbi non arcu risus quis varius. Sit amet mauris commodo quis imperdiet massa. Nibh praesent tristique magna sit amet purus. Pellentesque pulvinar pellentesque habitant morbi. Vivamus arcu felis bibendum ut tristique et egestas quis ipsum. Amet consectetur adipiscing elit pellentesque. Molestie nunc non blandit massa enim nec dui nunc mattis. Massa sapien faucibus et molestie ac feugiat sed lectus vestibulum. Turpis egestas sed tempus urna et pharetra pharetra. Enim praesent elementum facilisis leo vel fringilla est ullamcorper eget. Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque. Aliquet nec ullamcorper sit amet. Diam maecenas sed enim ut.
          </p>
          
        </div>
      </div>

    </div>
  </div>
  </div>
    
{% endblock content %}