{% extends "layout.html" %}
{% block content %}
    </br>
     <div class="container-fluid align-content-lg-center">    <h1>Otaku Dashboard | オタク辞書のダッシュボード</h1> </div>
    </br>

    <div class="row">
          <div class="col-lg-4">
              <div class="card">
                  <img class="card-img-top" src="/static/images/kanji.png" alt="Kanji">
                      <div class="card-body">
                        <h4 class="card-title">Kanji</h4>
                        <p class="card-text">
                         Kanji straight from the Heisig books in lesson order, to help practice and learn the over 2200 japanese characters.
                        </p>
                        <a href="{{ url_for('kanjis.single_heisig_level', single_heisig_level=1)}}" class="btn btn-primary">Kanji</a>
                      </div>
                </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img class="card-img-top" src="/static/images/vocab.png" alt="Vocab">
              <div class="card-body">
                <h4 class="card-title">Vocab</h4>
                <p class="card-text">
                  Vocabulary sorted with Heisig levels in mind.
                </p>
                <a href="{{ url_for('kanjis.single_vocab_level', single_heisig_level=1)}}" class="btn btn-primary">Vocab</a>
              </div>
            </div>
            </div>
        
          <div class="col-lg-4">
                <div class="card">
                  <img class="card-img-top" src="/static/images/board.png" alt="Bulletin Board">
                      <div class="card-body">
                        <h4 class="card-title">Bulletin Boards</h4>
                        <p class="card-text">
                          Leave some comments, your favourite sentence or word. You could even help with questions from other otaku.
                        </p>
                        <a href="{{ url_for('jishos.otakubb')}}" class="btn btn-primary">Bulletin Boards</a>
                      </div>
                </div>
          </div>
          <div class="col-lg-4">
                <div class="card">
                  <img class="card-img-top" src="/static/images/hirakata.png" alt="Hiragana and Katakana">
                      <div class="card-body">
                        <h4 class="card-title">Hiragana and Katakana</h4>
                        <p class="card-text">
                          <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseExample">
                            Hiragana
                          </button>
                          <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseExample">
                            Katakana
                          </button>
                        </p>  
                        <div class="collapse" id="collapse1" style="">
                              <div class="card">
                                  <div class="card-body">
                                    <table class="table table-responsive">
                                    
                                  
                                        <thead class="thead-light">
                                          <tr>
                                            <th>#</th>
                                            <th>A</th>
                                            <th>K</th>
                                            <th>S</th>
                                            <th>T</th>
                                            <th>N</th>
                                            <th>H</th>
                                            <th>M</th>
                                            <th>Y</th>
                                            <th>R</th>
                                            <th>W</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">A</th>
                                            <td>あ</td>
                                            <td>か</td>
                                            <td>さ</td>
                                            <td>た</td>
                                            <td>な</td>
                                            <td>は</td>
                                            <td>ま</td>
                                            <td>や</td>
                                            <td>ら</td>
                                            <td>わ</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">I</th>
                                            <td>い</td>
                                            <td>き</td>
                                            <td>し</td>
                                            <td>ち</td>
                                            <td>に</td>
                                            <td>ひ</td>
                                            <td>み</td>
                                            <td></td>
                                            <td>り</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">U</th>
                                            <td>う</td>
                                            <td>く</td>
                                            <td>す</td>
                                            <td>つ</td>
                                            <td>ぬ</td>
                                            <td>ふ</td>
                                            <td>む</td>
                                            <td>ゆ</td>
                                            <td>る</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">E</th>
                                            <td>え</td>
                                            <td>け</td>
                                            <td>せ</td>
                                            <td>て</td>
                                            <td>ね</td>
                                            <td>へ</td>
                                            <td>め</td>
                                            <td></td>
                                            <td>れ</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">O</th>
                                            <td>お</td>
                                            <td>こ</td>
                                            <td>そ</td>
                                            <td>と</td>
                                            <td>の</td>
                                            <td>ほ</td>
                                            <td>も</td>
                                            <td>よ</td>
                                            <td>ろ</td>
                                            <td>を</td>
                                          </tr>
                                        </tbody>
                                    </table>
                                  </div>
                              </div>
                        </div>
                        
                        <div class="collapse" id="collapse2" style="">
                          <div class="card">
                                
                                  <div class="card-body">
                                      <table class="table table-responsive">
                                    
                                  
                                        <thead class="thead-light">
                                          <tr>
                                            <th>#</th>
                                            <th>A</th>
                                            <th>K</th>
                                            <th>S</th>
                                            <th>T</th>
                                            <th>N</th>
                                            <th>H</th>
                                            <th>M</th>
                                            <th>Y</th>
                                            <th>R</th>
                                            <th>W</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">A</th>
                                            <td>ア</td>
                                            <td>カ</td>
                                            <td>サ</td>
                                            <td>タ</td>
                                            <td>ナ</td>
                                            <td>ハ</td>
                                            <td>マ</td>
                                            <td>ヤ</td>
                                            <td>ラ</td>
                                            <td>ワ</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">I</th>
                                            <td>イ</td>
                                            <td>キ</td>
                                            <td>シ</td>
                                            <td>チ</td>
                                            <td>ニ</td>
                                            <td>ヒ</td>
                                            <td>ミ</td>
                                            <td></td>
                                            <td>リ</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">U</th>
                                            <td>ウ</td>
                                            <td>ク</td>
                                            <td>ス</td>
                                            <td>ツ</td>
                                            <td>ヌ</td>
                                            <td>フ</td>
                                            <td>ム</td>
                                            <td>ユ</td>
                                            <td>ル</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">E</th>
                                            <td>エ</td>
                                            <td>ケ</td>
                                            <td>セ</td>
                                            <td>テ</td>
                                            <td>ネ</td>
                                            <td>ヘ</td>
                                            <td>メ</td>
                                            <td></td>
                                            <td>レ</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">O</th>
                                            <td>オ</td>
                                            <td>コ</td>
                                            <td>ソ</td>
                                            <td>ト</td>
                                            <td>ノ</td>
                                            <td>ホ</td>
                                            <td>モ</td>
                                            <td>ヨ</td>
                                            <td>ロ</td>
                                            <td>ン</td>
                                          </tr>
                                        </tbody>
                                      </table>
                        
                                  </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
          </div>
          
          
          
          
          
    </div>
  
{% endblock content %}