{"filter":false,"title":".gitignore","tooltip":"/Jisho/src/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":3,"column":8},"end":{"row":4,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":4,"column":0},"end":{"row":4,"column":26},"action":"insert","lines":["Otakujisho_key_May2022.pem"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":17},"end":{"row":5,"column":17},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1652158331614,"hash":"9ba164a025a33d9d4a78fe934066bfcbe33cb3a5"}